---
sitemap: false
---

/*
 *
 *  Moon
 *
 *  Designer: Taylan Tatlı
 *  WEB: http://taylantatli.me
 *
*/

// Partials

$white: #F9F3E4;
$pink: #F29DAB;
$rose: #DD899E;
$tan: #F2CDC1;
$taupe: #D0B2AF;
$ornage1: #ffab91;
$ornage2: #ffccbc;
$ornage3: #fbe9e7;


$font: 'Questrial', sans-serif;

html {
  min-height: 100%;
}

body {
  background:
    linear-gradient(217deg, rgba($ornage1, .9), rgba($ornage1,0) 50%),
    linear-gradient(107deg, rgba($ornage2,.9), rgba($ornage2,0) 70%),
    linear-gradient(336deg, rgba($ornage3,.9), rgba($ornage3,0) 60%);
}

.box {
  width: 800px;  
  margin: 10% auto;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
  color: #EA7996;
  a {
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: #7d7d7d;
    }
  }
}

.label { font-weight: initial; }

// 최신글 추가하기 220920
#aside .box-recent .list-recent li {
    margin-bottom: 5px;
}

#aside .box-recent .list-recent li:last-child {
    margin-bottom: 0;
}

#aside .box-recent .list-recent .link-recent {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    text-decoration: none;
}

#aside .box-recent .list-recent .thumbnail {
    width: 120px;
    height: 80px;
    margin: 0 12px 0 0;
    background-size: cover;
    background-position: 50% 50%;
}

#aside .box-recent .list-recent .thumbnail+.box-recent{
	width: 60%;
}

#aside .box-recent .list-recent .box-recent {
		width: 100%;
    margin-top: 2px;
    font-size: 13px;
    line-height: 1.54;
    color: #333;
}

#aside .box-recent .list-recent .box-recent strong {
    display: block;
    margin-bottom: 2px;
    font-weight: 400;
	 font-size: 15px;
}

#aside .box-recent .list-recent .box-recent span {
    color: #999;
}


@import "variables";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "elements";
@import "syntax";
@import "nav";
@import "vendor/fonts";
@import "vendor/font-awesome";
@import "vendor/animate";
@import "vendor/magnific-popup/magnific-popup";
@import "print"
